*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Open Sans, sans-serif;
}

:root{
    --blue:#3A68B8;
    --white:#fff;
    --black:#000;
}

body{
    background:#fff;
}

a{
    text-decoration:none;
    color:var(--black);
}

.container{
    max-width:1240px;
    margin:0 auto;
    padding:0 20px;
}

/* HEADER */
header{
    padding:30px 0;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav{
    display:flex;
    gap:40px;
}

nav a{
    font-weight:600;
}

/* HERO */
.hero{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:80px;
    padding:80px 0;
}

.hero img{
    max-width:420px;
}

.hero-content{
    max-width:500px;
}

.hero-content h1{
    font-size:36px;
    margin-bottom:20px;
}

.hero-content p{
    line-height:1.6;
    margin-bottom:30px;
    color:#555;
}

.btn{
    background:var(--blue);
    color:#fff;
    padding:14px 28px;
    display:inline-block;
}

/* PROJECTS */
.projects{
    background:var(--blue);
    padding:70px 0;
}

.projects-box{
    display:flex;
    justify-content:space-around;
    text-align:center;
    color:#fff;
}

.project-item{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
}

.project-item img{
    width:50px;
}

/* SKILLS */
.skills{
    padding:100px 0;
}

.skills-box{
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:80px;
}

.skills-left{
    flex:1;
}

.skills-left h2{
    font-size:32px;
    margin-bottom:30px;
}

.skill{
    margin-bottom:25px;
}

.bar{
    width:100%;
    height:4px;
    background:#ddd;
}

.bar span{
    display:block;
    height:4px;
    background:var(--blue);
}

.skills-right img{
    max-width:400px;
}

/* ADAPTIVE */
@media(max-width:768px){
    .hero,
    .skills-box{
        flex-direction:column;
        text-align:center;
    }

    .projects-box{
        flex-direction:column;
        gap:40px;
    }
}
